html{
  background-color:#ffe524
}

header{
  font-family: 'Sigmar One', cursive;
  font-size: 3rem;
  color:#b32f52;
  text-align: center;
  padding:0em;
  background-color:#ffe524;
}

body{
  background-color:#fff;
  padding: 0em;
  margin: 0em;
}

footer{
  background-color:#ffe524;
  padding: 1em 0em;
  text-align: center;
}

h1{
  font-family: 'Sigmar One', cursive;
  font-size: 2rem;
  color:#b32f52;
  padding: 0em 0em .5em .2em;
  margin: 0em;
}

h2{
  font-family: 'Sigmar One', cursive;
  font-size: 1.25rem;
  color:#b32f52;
  padding: 0em 0em .5em .2em;
  margin: 0em;
}

dl{
  display: inline-block;
  padding: 0em 0em .5em .5em;
}

dl dt{
  font-weight: bold;
}

nav{
  background-color:#ffe524;
  padding: 0em;
  text-align: center;
}

nav ol{
  display: inline-block;
  list-style: none;
  margin: 0.5em;
  padding:0.5em;
}

nav li{
  display: inline-block;
  margin: .5em;
  padding: .25em;
}

nav a{
  display:inline-block;
  padding: 0.2em 1em;
  background-color:#b2a215;
  color: #fff;
  text-decoration: none;
  border: 1px #703838;
  border-radius: 5px;
  width: 5em;
  text-align: center;
  font-size: 1.5rem;
}

a:hover{
  background-color:#b32f52;
}

p{
  padding: 0em 0em .5em .5em;
}

blockquote{
  color:#b2a215;
  padding: 0em;
  text-align: center;
}
