html{
  background-color:#ffe524
}

header{
  font-family: 'Sigmar One', cursive;
  font-size: 3rem;
  color:#b32f52;
  text-align: center;
  padding:0em;
  background-color:#ffe524;
}

body{
  background-color:#fff;
  padding: 0em;
  margin: 0em;
}

footer{
  background-color:#ffe524;
  padding: 1em 0em;
  text-align: center;
}

h1{
  font-family: 'Sigmar One', cursive;
  font-size: 2rem;
  color:#b32f52;
  padding: 0em 0em .5em .2em;
  margin: 0em;
  border-top: 5px solid #ffe524;
}

h2{
  font-family: 'Sigmar One', cursive;
  font-size: 1.25rem;
  color:#b32f52;
  padding: 0em 0em .5em .2em;
  margin: 0em;
}

h3{
  color:#b2a215;
  font-size:3em;
  text-align:center;
}

dl{
  display: inline-block;
  padding: 0em 0em .5em .5em;
}

dl dt{
  font-weight: bold;
  line-height: 1.5;
}

dl dd{
  margin: 0;
}

nav{
  background-color:#ffe524;
  padding: 0em;
  text-align: center;
}

nav ol{
  display: inline-block;
  list-style: none;
  margin: 0.5em;
  padding:0.5em;
}

nav li{
  display: inline-block;
  margin: -0.25em 1em 1em -0.25em;
  padding: .25em;
}

nav a{
  display:inline;
  padding: 0.2em 1em;
  background-color:#b2a215;
  color: #fff;
  text-decoration: none;
  border: 1px #703838;
  border-radius: 5px;
  width: 5em;
  text-align: center;
  font-size: 1.5rem;
}

nav a:hover{
  background-color:#b32f52;
}

p{
  padding: 0em 0em .5em .5em;
}

blockquote{
  color:#b2a215;
  padding: 0em;
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
}

figure {
  border: 1px solid #000;
  border-radius: 10px;
  border-color:#b2a215;
  background-color:#fffce0;
  padding: 1em;
}

img{
  width: 100%;
}

footer a{
  color:#b32f52;
}
 footer a:hover{
   color:#fff;
 }
